<span><%= link_to 'Home', '#' %></span>
<span><%= link_to 'Chat', '#' %></span>
<span><%= link_to 'Mentor Circles', '#' %></span>
<span><%= link_to 'Articles', '#' %></span>
<span><%= link_to 'About', '#' %></span>
