<% provide(:title, 'Home') %>

<div id="home_page">
  <div id="title">Title</div>
  <div id="nav">
    <%= render 'shared/home/nav' %>
  </div>
  <div id="banner"></div>
  <div id="content">
    <div id="login">Login
      <%= render 'shared/home/login' %>
    </div>
    <div id="articles">Articles
      <%= render 'shared/home/articles' %>
    </div>
    <div id="events">Upcoming Events
      <%= render 'shared/home/events' %>
    </div>
  </div>
  <div id="footer">
    <%= render 'shared/home/footer' %>
  </div>
</div>
