<% provide(:title, 'Home') %>


<div id="home_page">

  <div id="banner">
    <%= image_tag("home/banner.jpg", alt:"rss feed", id:"resize") %>    
    <%= image_tag("home/title.jpg", alt:"rss feed", id:"resize") %>    
   </div>

  <div id="content">
    <div id="join"><%= render 'shared/home/join' %></div>
    <div id="columns"><%= render 'shared/home/columns' %></div>    
    <div id="info"><%= render 'shared/home/info' %></div>
  </div>

  <div id="contact">
  </div>
  <div id="footer">
    <%= render 'shared/home/footer' %>
  </div>



</div>
